<div class="row flex-nowrap">
  <%= render 'layouts/client_sidebar', client: @client unless browser.mobile? %>

  <div class="col py-3">
    <%= breadcrumbs %>

    <div class="row mt-md-5 mt-1">
      <div class="col col-md-10 offset-md-1">
        <div class="row">
          <h3>New Week</h3>
        </div>
        <%= render  'trainers/workout_weeks/form',
                    workout_week: @workout_week,
                    url: trainers_client_workout_weeks_path(@client),
                    week_count: @week_count
        %>
      </div>
    </div>
  </div>
</div>
