<%= breadcrumbs %>
<div class="row mt-md-5 mt-sm-1 g">
  <div class="col col-md-8 offset-md-2">
    <div class="row">
      <h3>
        Clients
        <%= link_to 'New Client',
                    new_trainers_client_path,
                    class: 'btn btn-success float-end'
        %>
      </h3>
    </div>
    <div class="row gy-2 gy-md-4 clients">
      <% @clients.each do |client| %>
        <%= render 'tile', client: client %>
      <% end %>
    </div>
  </div>
</div>
