<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="widget-offcanvas"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Widgets</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <% widgets.each do |widget| %>
      <%= render 'widgets/preview', widget: widget, disabled: active_widget_ids.include?(widget.id) %>
    <% end %>
  </div>
</div>
