<div id="options" class="row mt-4">
  <div class="col-12">
    <ul class="list-group">
      <%= link_to clients_profile_path, class: 'list-group-item list-group-item-action w-100' do %>
        <i class="fa-solid fa-user"></i>
        Profile
        <span class="float-end">
          <i class="fa-solid fa-chevron-right"></i>
        </span>
      <% end %>
    </ul>

    <ul class="list-group mt-3">
      <%= link_to clients_trainers_path, class: 'list-group-item list-group-item-action w-100' do %>
        <i class="fa-solid fa-user"></i>
        Trainer History
        <span class="float-end">
          <i class="fa-solid fa-chevron-right"></i>
        </span>
      <% end %>
    </ul>
  </div>
</div>
