.simple-calendar {
  text-align: center;

  .calendar-heading {
    display: flex;
    justify-content: space-between;
  }

  .day-logged {
    height: 10px;
    width: 10px;
    border-radius: 100%;
  }

  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month {}
  .current-month {}

  .has-events {}
}
