<% workout_day.exercises.each do |exercise| %>
  <%= render 'card', exercise: exercise, view_only: view_only %>
<% end %>
<% unless view_only %>
  <div class="col-12 mb-2">
    <div class="btn-group w-100">
      <%= link_to 'Complete Day',
                  complete_clients_workout_day_path(@workout_day),
                  class: 'btn btn-success',
                  data: {
                    turbo_method: :post
                  }
      %>
    </div>
  </div>
<% end %>
