<div id="workouts" class="row mt-1 gy-3">
  <% if @workout_day.nil? %>

  <% else %>
    <%= render 'index',
                workout_day: @workout_day,
                completed: @workout_day.completed?
    %>
  <% end %>
</div>
