<nav class="navbar navbar-dark navbar-expand-lg bg-dark position-relative">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to app_name,
                clients_dashboard_path,
                class: 'navbar-brand position-absolute top-50 start-50 translate-middle'
    %>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <li class="nav-item">
          <%= button_to 'Logout',
                        destroy_user_session_path,
                        method: :delete,
                        class: 'nav-link btn btn-link'
          %>
        </li>
      </ul>
    </div>
  </div>
</nav>
