<nav
  class="navbar fixed-bottom navbar-dark bg-dark"
  style=<%= config_helper(:nav_color) %>
>
  <div class="container-fluid">
      <ul class="navbar-nav flex-row w-100">
        <li class="nav-item d-flex flex-fill justify-content-center">
          <%= link_to '<i class="fa-regular fa-calendar-days fa-xl"></i>'.html_safe,
                      clients_histories_path,
                      class: "nav-link #{active_nav_item('history')}",
                      style: config_helper(:nav_text_color)
          %>
        </li>
        <li class="nav-item d-flex flex-fill justify-content-center">
          <%= link_to '<i class="fa-solid fa-dumbbell fa-xl"></i>'.html_safe,
                      clients_workout_path,
                      class: "nav-link #{active_nav_item('workouts')}",
                      style: config_helper(:nav_text_color)
          %>
        </li>
        <li class="nav-item d-flex flex-fill justify-content-center">
          <%= link_to '<i class="fa-solid fa-sliders fa-xl"></i>'.html_safe,
                      clients_options_path,
                      class: "nav-link #{active_nav_item('options')}",
                      style: config_helper(:nav_text_color)
          %>
        </li>
      </ul>
  </div>
</nav>
