<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
      <ul class="navbar-nav flex-row w-100">
        <li class="nav-item d-flex flex-fill justify-content-center">
          <%= link_to '<i class="fa-regular fa-calendar-days fa-xl"></i>'.html_safe,
                      '#!',
                      class: "nav-link"
          %>
        </li>
        <li class="nav-item d-flex flex-fill justify-content-center">
          <%= link_to '<i class="fa-solid fa-dumbbell fa-xl"></i>'.html_safe,
                      clients_workout_path,
                      class: "nav-link #{active_nav_item('workouts')}"
          %>
        </li>
        <li class="nav-item d-flex flex-fill justify-content-center">
          <%= link_to '<i class="fa-solid fa-sliders fa-xl"></i>'.html_safe,
                      '#!',
                      class: "nav-link"
          %>
        </li>
      </ul>
  </div>
</nav>
