<nav
  class="navbar navbar-dark sticky-top navbar-expand-lg bg-dark"
  style=<%= config_helper(:nav_color) %>
>
  <div class="container-fluid">
    <% if @back_url %>
      <%= link_to @back_url,
                  class: 'navbar-toggler me-auto',
                  style: config_helper(:nav_text_color) do
      %>
        <i class="fa-solid fa-chevron-left navbar-icon"></i>
      <% end %>
    <% else %>
      <div class="m-auto"></div>
    <% end %>
    <%= link_to app_name,
                clients_dashboard_path,
                class: 'navbar-brand',
                style: config_helper(:nav_text_color)
    %>
    <div class="m-auto"></div>
  </div>
</nav>
