<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary">
  <div class="navbar navbar-dark d-flex flex-column align-items-center slign-items-sm-start px-3 pt-2 min-vh-100">
    <%= image_tag client.avatar, class: 'img-thumbnail rounded-circle mb-5 mt-4' %>
    <ul class="navbar-nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
      <li class="nav-item">
        <%= link_to trainers_client_path(client), class: "d-flex align-middle px-0 nav-link #{active_nav_item('client_profile')}" do %>
          <i class=" fs-4 fa-solid fa-user"></i>
          <span class="ms-1 d-none d-sm-inline">Profile</span>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to trainers_client_workouts_path(client), class: "d-flex align-middle px-0 nav-link #{active_nav_item('client_workouts')}" do %>
          <i class="fs-4 fa-solid fa-dumbbell"></i>
          <span class="ms-1 d-none d-sm-inline">Workouts</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
