<nav class="navbar navbar-dark sticky-top navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <% if @back_url %>
      <%= link_to @back_url, class: 'navbar-toggler me-auto' do %>
        <i class="fa-solid fa-chevron-left navbar-icon"></i>
      <% end %>
    <% else %>
      <div class="me-auto"></div>
    <% end %>
    <%= link_to app_name,
                clients_dashboard_path,
                class: 'navbar-brand'
    %>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav flex-column flex-wrap ms-md-auto">
        <li class="nav-item">
          <%= link_to 'Switch Accounts', accounts_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= button_to 'Logout',
                        destroy_user_session_path,
                        method: :delete,
                        class: 'nav-link btn btn-link'
          %>
        </li>
      </ul>
    </div>
  </div>
</nav>
