<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary" style=<%= config_helper(:side_nav_color) %>>
  <div class="navbar navbar-dark d-flex flex-column align-items-center slign-items-sm-start px-3 pt-2 min-vh-100">
    <%= image_tag current_user.avatar, class: 'img-thumbnail rounded-circle mb-5 mt-4' %>
    <ul class="navbar-nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
      <li class="nav-item">
        <%= link_to trainers_profile_path,
                    class: "d-flex align-middle px-0 nav-link #{active_nav_item('trainer_profile')}",
                    style: config_helper(:side_nav_text_color) do
        %>
          <i class=" fs-4 fa-solid fa-user"></i>
          <span class="ms-1 d-none d-sm-inline">Profile</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to trainers_configurations_path,
                    class: "d-flex align-middle px-0 nav-link #{active_nav_item('configs')}",
                    style: config_helper(:side_nav_text_color) do
        %>
          <i class="fs-4 fa-solid fa-sliders"></i>
          <span class="ms-1 d-inline">Configurations</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
